body {
    background-color: #FDFFFC;
    background-image: url("../imgs/18410.jpg");
}

::-webkit-scrollbar {
    display: none;
}

.active {
    color: rgb(243, 201, 21);
    pointer-events: none;
}

.cardb {
    width: 20rem;
    background-color: #C6C6C6;
}

.foto {
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    pointer-events: none;
}

.fotohome {
    vertical-align: middle;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    pointer-events: none;
}
.courier {
    font-family: "Rockwell";
}

lanav {
    background: rgb(0,48,255);
    background: linear-gradient(90deg, rgba(0,48,255,1) 0%, rgba(0,189,255,1) 100%);
}

nav {
    background: rgb(240,93,35);
    background: linear-gradient(90deg, rgba(240,93,35,1) 0%, rgba(252,131,31,1) 100%);
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-size: 20px;
    animation: typewriter 0.6s steps(5) forwards;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

